<% layout('layouts/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center vh-100 bg-dark">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-5 offset-xl-3">
      <div class="card shadow">
        <div class="card-body">
          <div class="card-text">
            Thank you for registering with our platform! Before you can access your account, we need to verify your email address.
            Please follow the instructions below to complete the verification process:
          </div>
          <div class="mt-3">
            <form action="/verify/email" method="POST" class="validated-form" novalidate>
              <div class="form-group mb-3">
                <label for="code" class="form-label fw-bold">Code:</label>
                <input class="form-control fs-2 text-center py-3" type="number" name="code" id="code" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Verify</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>